
@{
    ViewBag.Title = "Site - Index";
}
<h2>This is the Home Page of Site.</h2>
@Html.ActionLink("Doctor Home Page", "Index", "Home", new {Area="Doctor"},null)
<br />
@Html.ActionLink("Patient Home Page", "Index", "Home", new { Area = "Patient" }, null)
<br />
@Html.ActionLink("Staff Home Page", "Index", "Home", new { Area = "Staff" }, null)

@*https://localhost:44313               =>site Home page
https://localhost:44313/Doctor/Home     =>site Doctor Home page
https://localhost:44313/Patient/Home    =>site Patient Home page
https://localhost:44313/Staff/Home      =>site Staff Home page*@
