
@{
    ViewBag.Title = "IndexSession2";
}

<h2>IndexSession2</h2>

<table border="1" class="table table-bordered" align="center" width="15%">
    <caption>Student Details</caption>
    <tr><td>Id: </td><td>@Session["Id"]</td></tr>
    <tr><td>FirstName: </td> <td>@Session["FirstName"]</td></tr>
    <tr><td>LastName: </td> <td>@Session["LastName"]</td></tr>
</table>
