
@{
    ViewBag.Title = "Failure";
}
<div class="container">
    <h4>Hello @ViewData["Name"], your given credentials are invalid.</h4>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />